include ../../node_modules/bemto.pug/bemto

mixin icon(name, mod)
    - mod = mod || ''
    svg(class="icon icon-" + name + ' ' + mod)
        use(xlink:href="/img/symbol/sprite.svg#" + name)

mixin form(formObj, formClass)
    - formClass = formClass || ''
    +b.FORM(action= formObj.action method= formObj.method class= formClass)
        .form-group
            each i in formObj.inputs
                if i.label
                    label(for= i.label.id class= i.label.class)!= i.label.value
                - i.label = undefined
                case i.type
                    default
                        input&attributes(i)
                    when 'textarea'
                        textarea&attributes(i)
            if formObj.buttons
                each b in formObj.buttons
                    - var value = b.value
                    - b.value = undefined
                    button&attributes(b)!= value

-
    function cdoc(name) {
        var obj = 'documents[?(@.name == \'{str}\')]'.replace('{str}', name)
        return _.value($, obj)
    }

    function csec(name) {
        var obj = 'sections[?(@.name == \'{str}\')]'.replace('{str}', name)
        return _.value($, obj)
    }

    function cov(obj, val) {
        return _.value(obj, val)
    }